<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>DIT</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand" href="/">
            <img class="" width="80px" height="60px" src="images/logo2.webp">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>

            </ul>

            <a class="btn btn-danger my-2 my-sm-0" href="/login">Login</a>
        </div>
    </nav>


    <div class="row mt-4">
        <div class="col-md-2"></div>
        <div class="col-md-4 bg-transparent   text-dark ">
            <h4>Create Your Account here</h4>

            <form th:action="@{/createAccount}" th:object="${signUp}"th:method="POST">
                <div class="form-group">
                    <label for="name">FullName</label>
                    <input type="text" name="name" th:field="*{name}" class="form-control" id="name" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <p th:text="${failMsg}" class="text-danger"></p>
                    <label for="email">Email address</label>
                    <input type="email" name="email" th:field="*{email}" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="Number" class="form-control" th:field="*{contact}" id="contact" name="contact">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb-4 form-control">Create Account</button>
                    <p>have an account ? <a href="/login" >login here</a></p>

                </div>

            </form>
        </div>
        <div class="col-md-4 bg-dark text-light">
            <h4 class="pt-4 mt-4">Welcome To Dev Institute Of Technology</h4>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container fixed-bottom">
    <div class="card text-center">
        <div class="card-footer text-muted">
            <h6>©️ 2025 copyright : @ DIT </h6>
        </div>
    </div>
</div>
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>